{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env":
    {
      "node": true,
      "es6": true,
      "browser": true,
      "jest": true
    },
  "rules":
    {
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "implicit-arrow-linebreak": "off",
      "no-extra-semi":"off",
      "semi":"off",
      "comma-dangle": "off",
      "indent": "off",
      "no-trailing-spaces": "off",
      "import/no-extraneous-dependencies": ["error", {"devDependencies": true, "optionalDependencies": false, "peerDependencies": false}],
      "no-use-before-define": 0
    },
    "globals": {
      "__DEV__": false
    }
  }